//
   Created by qiaoliang on 14-4-26.

footer.navbar-default.bs-docs-nav
    .container(style="text-align : center")
        p copyright@2014 qiaoliang
        p 苏ICP备14036464号
        p
            a(href='http://www.miitbeian.gov.cn/' target='_blank') 查询备案号