//
   Created by qiaoliang on 14-4-26.
  header.navbar-default.navbar-fixed-top
    div(role='banner').container.left
        div.left
            p.navbar-brand  Welcome to
              a(href='/blog')  乔卡卡的飞仙阁