//
   Created by qiaoliang on 14-4-26.
  header(role='banner').navbar.navbar-fixed-top.bs-docs-nav
    .container
        .navbar-header
           button(type='button', data-toggle='collapse', data-target='#navbar-collapse-1').navbar-toggle
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand Welcome, #{name}
        nav(role='navigation').collapse.navbar-collapse
           ul.nav.navbar-nav.navbar-left
              li.active
                a(href='#') blog
              li
                a(href='#') todo list
              li
                a(href='#') photos