//
   Created by qiaoliang on 14-4-26.
  header.navbar-default.navbar-fixed-top
    div(role='banner').container.navbar.bs-docs-nav
        .navbar-header
            button(type='button', data-toggle='collapse', data-target='#main_header_navbar').navbar-toggle
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/blog') Welcome