//
   Created by qiaoliang on 14-4-26.
head
    title= 'my homepage'
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/jquery/jquery.js')
    script(src='/lib/bootstrap/bootstrap.js')

    block scripts
