//
    Created by qiaoliang on 16-8-26.

div.container
    #dialog(title='addAtrist')
        form.form(id="add_artist", action="/user/saveArtist", method="post")
            .row
                .col-lg-8
                    .input-group
                        span.input-group-addon(for='title') title
                        input.form-control(type='text' required name='title' id='title')
                        input(type='text' name='_id' id='_id' style='display:none')
                .col-lg-4
                    .input-group
                        .input-group-btn
                            button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-expanded='false') category
                                span.caret
                            ul.dropdown-menu.dropdown-menu-right(role="menu")
                                each cg in categorys
                                    li.categoryList
                                        a(href='#') #{cg.name}
                        input.form-control(name='category' id='category' type='text')
            br
            .row
                .col-lg-6
                    .panel(id='introPanel')
                        textarea(id='intro' required name='intro')
                    .panel(id='container')
                        textarea(id='text' required name='text')
                .col-lg-6
                    form.form
                        .panel-body(id='preview' style="overflow:auto;")