body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: #aaaaaa;
  border-bottom: 2px solid #e5e5e5;
}

footer {
  background-color: #ffffff;
}

.blog_list {
  min-height: 500px;
}

.blog_content {
  min-height: 500px;
}

#container textarea {
  min-height: 400px;
}

.md_input {
  width : 100%;
  margin : 10px 0px 10px 0px
}

.md_input .title {
  height : 22px;
}
.md_input .content {
  height : 400px;
}

/*
a {
  color: #00B7FF;
}*/
