body {
  padding-top: 80px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: #aaaaaa;
  border-bottom: 2px solid #e5e5e5;
}

footer {
  background-color: #ffffff;
}

.blog_content {
  min-height: 600px;
}
/*
a {
  color: #00B7FF;
}*/
