<div class="panel panel-default">
    <div class="panel-heading">
        使用markdown的编辑器
    </div>
    <div id="blog_editor" class="panel-body">
        <div class="modal" id="blog_editor_preview">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div  ng-bind-html='md_content_html'class="modal-body" ></div>
                </div>
            </div>
        </div>
        <div id="alert" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="alert alert-warning">
                    <p><strong>Warning!</strong></p>
                    <p>请输入内容</p>
                </div>
            </div>
        </div>
        <div class="md_input">
            <div id="md_title">
                <p class="label label-primary">标题</p>
                <input type="text" name="md_title" ng-model="md_title" class="md_input title"></textarea>
            </div>
            <div id="md_content">
                <p class="label label-primary">内容</p>
                <textarea name="md_content" ng-model="md_content" class="md_input content"></textarea>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="preview()">预览</button>
            <button type="button" class="btn btn-default">保存</button>
        </div>
    </div>
</div>