//
   Created by qiaoliang on 14-4-29.
   博客页面博客列表内容，是博客的主页面

extends ../layout
block scripts
    script(src='/lib/showdown.js')

block content
    .row-fluid
        div.container
            div
                .col-lg-8
                    if blogType == 'list'
                        include blog_list
                    else
                        include blog_detail
                .col-lg-3
                    include blog_aside