//
   Created by qiaoliang on 14-4-29.
   博客页面博客列表内容，是博客的主页面

extends ../blog_base

block scripts
    script(src='/javascript/blogs/bloglist.js')
    script(src='/javascript/blogs/admin.js')

block content
    include admin
    .row-fluid
        div.container
            div
                .col-lg-8
                    if blogType == 'list'
                        include blog_list
                        include ../includes/pageList
                    else
                        include blog_detail
                .col-lg-3
                    include blog_aside