//
   Created by qiaoliang on 14-4-29.
   博客页面博客列表内容，是博客的主页面

extends ../layout
block scripts
    script(src='/js/modules/blog/blog_main.js')
    script(src='/js/modules/blog/blog_index.js')
    script(src='/js/modules/blog/blog_detail.js')

block content
    .row-fluid
        div(ng-app='blog_main').container
            .col-lg-8
                div(ng-view)
            div.col-lg-3
                include blog_aside