//
   Created by qiaoliang on 14-4-29.

div
    div.panel.panel-default(style='border : 0px solid transparent')
        div.panel-heading 
            h4 #{blogDetail.blogName}
        div.panel-body!=blogDetail.content

    #uyan_frame
    script(type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1959764")