//
    Created by qiaoliang on 14-5-3.
    博客页面侧边栏内容
div.panel
    #blog_category.panel-default
        .panel-heading 文章分类
        .panel-body
            ul.list-unstyled
                each cate in aside.blogCategory
                    li.text-overflow
                        a(href='#/blog_list/'+cate.cateId) #{cate.cateName}
    #blog_read_hot.panel-default
        .panel-heading 阅读排行
        .panel-body
            ul.list-unstyled
                each blog in aside.blogReadHot
                    li.text-overflow
                        a(href='#/blog_detail/'+blog.blogId) #{blog.blogName}

    #blog_discuss_hot.panel-default
        .panel-heading 评论排行
        .panel-body
            ul.list-unstyled
                each discuss in aside.blogDiscussHot
                    li.text-overflow
                        a(href='#/blog_detail/'+discuss.blogId) #{discuss.blogName}